<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin_settings SYSTEM "../../../lib/pkp/dtd/pluginSettings.dtd">
<plugin_settings>
    <setting type="bool">
        <name>enabled</name>
        <value>false</value>
    </setting>
    <setting type="string">
        <name>environment</name>
        <value>sandbox</value>
    </setting>
    <setting type="string">
        <name>publisher</name>
        <value>Tejo Prabha Foundation</value>
    </setting>
    <setting type="string">
        <name>journalIssn</name>
        <value>3139-7700</value>
    </setting>
    <setting type="string">
        <name>resourceVersion</name>
        <value>1.0</value>
    </setting>
    <setting type="string">
        <name>languageCode</name>
        <value>eng</value>
    </setting>
    <setting type="bool">
        <name>automaticArticlePublish</name>
        <value>true</value>
    </setting>
    <setting type="bool">
        <name>automaticIssuePublish</name>
        <value>true</value>
    </setting>
    <setting type="bool">
        <name>storeReservedDoi</name>
        <value>true</value>
    </setting>
</plugin_settings>
